*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
.menu  li  a {
    padding-top: 15px;
    padding-bottom: 15px;

}
.container {
    width: 1170px;
    

    
}

li {

    list-style: none;
    display: inline-block;
    padding: 13px  9px;
text-align: center;
}
.container  {
    margin-left: -15px;
}
a {

    text-decoration: none;
    transition: all 400ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

.btn:hover {

    background-color: rgb(255, 209, 72);
    color: #3c3c3c ;
    border: 1px solid #fff;
}

.bg-primary {
    background-color: rgb(255, 209, 72);
}

.btn-primary {
    color: rgb(17, 17, 17);
    background-color: rgb(233, 183, 32);
    text-transform: none;
    border-color: rgb(255, 209, 72);
}
.lemgui a{
    margin-left: 90px;
    color: rgb(255, 209, 72);
    border-color: rgb(236, 185, 32);
    float: left;
    text-align: center;
    margin-top: 15px;
}
menu {

    background-color: #222222;
    font-weight: 70;
    position: fixed;
    width: 100%;
    
}
.menu ul {
    position: relative; top: 4px;
  
}
.menu li{
    display:inline;

 }
.container{
    height: 50px;
    
}
.menu li a {

    color:white;
    opacity: 0.7;
    font-size: 1.1rem;
    text-align: center;
    
}

.menu a:hover {

    opacity: 1;
    background-color: #111111;

}
.menu {
    float: right !important;
    margin-right: -15px;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

p {
    font-size: 15px;
    line-height: 21px;
}



.header{
    height: 595px;
    widows: 100%;
    padding: 30px 0 30px;
    margin-top:0px;
    background:url("image/bg3.jpg") no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;  
    background-size: cover;
    color: white;

}
.footer{
    width: 100%;
    height: 200px;
    background: black;
    color: #fff;
    margin-top: 450px;
   
}


.footer input {
    
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}


.img-circle {
    -webkit-border-radius: 500px;
       -moz-border-radius: 500px;
            border-radius: 500px;
  }

.header h1 {
    
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
    color: #fff;
}
.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}


.header h1,
.header p,
.header button {
    
    margin-top: 30px;
}
.header .btn {
    
    border-radius: 0;
    margin: 40px 20px;
    position: absolute;
    top: 190px;
}

p .lead {
    font-size: 2.2rem;
    font-weight: 600px;
    margin-right: 15px;
    margin-left: 72px;
}
.lead {
    
    margin-right: 15px;
    margin-left: 72px;
}


.display-4  {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-right: 15px;
    margin-left: 72px;
  }
  .section h4{
   
    text-align: center;
  }
  .section{
  width:360px;
  height:200px;
  display: block;
  margin-top: -97px;
  margin-left: 92px;
  background-color:rgb(255, 209, 72);
  }

.section1{
  width:360px;
  height:200px;
  display: block;
  margin-top: -210px;
  margin-left: 480px;
  background-color:rgb(255, 209, 72);
  float: center; 
}
.section2{
    width:360px;
    height:200px;
    display: block;
    margin-top: -200px;
    margin-right: -60px;
    background-color:rgb(255, 209, 72);
    float: right; 
  }
  .service1{
      margin-top:340px;
  }
  .service2{
    margin-top:120px;
}
.service3{
    margin-top:200px;
}
.action-card{
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    color: #111111 !important;
    height: 160px;
    position: relative;
    top: -97px;
    padding: 10px;

}


.action-card-body h4{
    font-family: "Abril Fatface", cursive;
    font-weight: 100;

}
.action-card-body{
    padding-left: 35px;
    position: relative;
    top: -10px;

}
.card-title{
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.2;
}

@media (max-width: 576px) {
    .action-card-body p{
        display:inline;
    }

    .action-card{
        height: 60px!important;
        position: relative !important;
        top: 25px !important;
        padding: 20px !important

    }
   



    .action-card-body h4{
        font-weight: 800;
    
    }


 }
 p .title::after {
    content: "";
    display: block;
    background-color: rgb(255, 209, 72);
    height: 0.2rem;
    width: 5.750rem;
    margin: 1.25rem auto;
    margin-top: 120px;
}
.pannel-title{
    margin-bottom: 1rem;

}

.pannel-title  a{
    color:#212529!important;
    font-size: 1.5rem;
    text-decoration: none;
}
 .panel {
    border: 1px solid rgba(0, 0, 0, 0.125);

}
 .panel .panel-heading{
   padding: 0px;
}

 .panel .panel-heading img{
    width: 100%;
}

.panel-body .progress{
    margin-bottom: 2px;
    font-size: 1.2rem;
    font-weight: 500;
}
.panel-body {
    text-align:left;
}

@media (max-width: 576px) {
    .pannel-title  a{
        font-size: 2rem;
    }
    .services {
        margin-top:0px!important;
    }

}

.services {
    margin-top: 108px;
    padding: 80px 0 20px;
    text-align: center;
}



.services p {
    color:#212529;
    font-size: 14px;
}


    
    .services {
        
        padding: 30 30 30 0 px;
    }
    .infos{
        text-align: center;
        padding-top: 390px; 

    }

    .infos1{
        text-align: center;
        padding-top: 700px; 

    }
    .infos2{
        text-align: center;
        padding-top: 700px; 

    }
     .infos2 .input-group  {
    
        margin-bottom: 20px;
        padding: 10px;

    }
    input{
        height: 30px;
        width: 30%;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
        text-align:center;
        border: 1px solid blue;
      }

      textarea {
        overflow: auto;
        resize: vertical;
      }
      


